
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=yZGl0Nto8/i9QnnukUIrYQ==,DjfMV4EDEfgA2xoVi2f5qQ==,DQnrSzXwdRGRDQrNTAMLjQ==,d+Jih42LiqSW56iSJz5WXA==
API_TOKEN_SALT=sj0zoZi6cpsNGY0S8TKW5Q==
ADMIN_JWT_SECRET=FbigA8Eb0q+rfGJz7QSPaQ==
TRANSFER_TOKEN_SALT=Mja7fx7uqSdOBxwJHv4ceA==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=nextstrapi
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=VHj3RvrwZLoW6Ny3jO0mAg==
